* {                   
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    font-family: "Verdana", "Tahoma", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: lightgrey;/* #E49B0F; */
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  input {
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -o-user-select: none; /* Opera Presto (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
  }

  input:active, input:focus {
    outline: none;
  }

  select {
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -o-user-select: none; /* Opera Presto (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  select:active, select:focus {
    outline: none;
  }


  button {
    display: block;
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -o-user-select: none; /* Opera Presto (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
  }

  button:active, button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
  }

  textarea {
	outline: none;
	-moz-appearance: none;
	border: 1px solid #999; /* указание этого свойства также удалит обводку в FireFox */
}

li {
    list-style-type: none;
    padding: 10px;
}

.space10 {
    height: 10px;
}
  
  .workspace {
    width: 500px;
    position: absolute;
    left: 50%; 
    margin-left: -250px;     
    background-color: whitesmoke;
    height: 100%;
    opacity: 1;
    min-height: 625px;
  }

  .title {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 34px;
     color: rgb(126, 126, 126);
     top: -10px; 
     left: 50%;
     margin-left: -100px;
     position: absolute;
     z-index: 10;
     -moz-user-select: none; /* Mozilla Firefox */
     -ms-user-select: none; /* Internet Explorer (не поддерживается) */
     -o-user-select: none; /* Opera Presto (не поддерживается) */
     -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
  }

  .titleBox {
    margin: 0;
    height: 100px;
    text-align: center;
  }

  .innerTitleBox {
    box-shadow: 0px 1px 20px hsla(0, 0%, 66%, 0.8);
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: white;
    z-index: 8;
  }

.topicBox {
    height: 30px;
}

#currentTopic {
   position: absolute;
   margin-left: 50px;
   top: 90px;
   font-size: 16px;
   color: darkgrey;
   -moz-user-select: none; /* Mozilla Firefox */
   -ms-user-select: none; /* Internet Explorer (не поддерживается) */
   -o-user-select: none; /* Opera Presto (не поддерживается) */
   -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}

.progressBox {
    width: 90%;
    margin: 0 25px;
    height: 15px; 
    background-color: lightgrey;
    border-radius: 5px;
    margin-bottom: 50px;
}

.progressBar {
    height: 15px;
    border-radius: 5px;  
    -webkit-transition: all 0.5s ease;;
    -moz-transition: all 0.5s ease;;
    -o-transition: all 0.5s ease;;
    transition: all 0.5s ease;  
}

.instructionBox {
    height: 75px;
}

#instruction {
    margin-left: 50px;
    font-size: 22px;
    color: rgb(44, 44, 44);
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -o-user-select: none; /* Opera Presto (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}

.taskBox {
    height: 75px;
}

#currentTask {
    font-weight: normal;
    font-size: 20px;
    margin-top: -25px;
    text-align: center;
}

.areaBox {
  width: 300px;
}

#area {
    margin-left: 100px;
    width: 300px;
    height: 100px;
    resize: none;
    font-family: "Verdana", "Tahoma", "Arial", sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    border: 2px dotted lightgrey;
    border-radius: 10px;
    padding-top: 20px;
    -webkit-transition: all 0.1s ease;;
    -moz-transition: all 0.1s ease;;
    -o-transition: all 0.1s ease;;
    transition: all 0.1s ease;
}

#area:focus {
    border: 2px dotted silver;
}


.commentBox {
    margin-top: -15px;
    height: 125px;
    width: 100%;
    border: 3px solid whitesmoke;
}
                  
#currentComment {
    position: absolute;
    font-weight: 100;
    font-size: 16px;
    margin-left: 100px;
    margin-top: 15px;
    color:darkgrey;
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -o-user-select: none; /* Opera Presto (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}

#currentRepeat {
    text-align: center;
    margin: -10px auto;
    width: 450px;
}

.correctAnswer {
    font-weight: 500;
    font-size: 16px;
    font-style: italic;
    display: inline-flex;
    margin-left: 50px;
    margin-top: 60px;
    text-align: center;
}

#back {
    top: 15px; 
    left: 105%;
    margin-left: -100px;
    position: absolute;
    border-radius: 100%;
    border: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 25px;
    box-shadow: 4px 4px 12px rgba(240, 240, 240);
    background-color: rgb(155, 155, 155);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 9;
  }

 #back:hover {
   background-color: rgb(135, 135, 135);;
 }
  
#backIcon {
  width: 40%;
  margin-top: 19%;
  margin-left: 3%;
}

.listenButton {
    display: inline-block;
    margin: 10px;
    border-radius: 100%;
    border: 0;
    padding: 0;
    width: 35px;
    height: 35px;
    color: white;
    font-size: 18px;
    box-shadow: 5px 5px 5px rgba(235, 235, 235);
    background-color: gold;
    -webkit-transition: all 0.5s ease;;
    -moz-transition: all 0.5s ease;;
    -o-transition: all 0.5s ease;;
    transition: all 0.5s ease;
}

.listenButton:hover {
    background-color: rgb(245, 210, 0);
    
}

.listenIcon {
    width: 17px;
    margin-top: 15%;
}


.forward {
    box-shadow: 5px 5px 12px rgba(235, 235, 235);
      background-color: dodgerblue;
      bottom: 25px; 
      left: 105%;
      margin-left: -200px;
      position: absolute;
      border-radius: 20px;
      border: 0;
      padding: 0;
      width: 150px;
      height: 70px;
      color: white;
      font-size: 20px;
      box-shadow: 6px 6px 12px lightgrey;
      -webkit-transition: all 0.5s ease;;
      -moz-transition: all 0.5s ease;;
      -o-transition: all 0.5s ease;;
      transition: all 0.5s ease;
}

.forward:hover {
    background-color: rgb(10, 124, 225);
}

.messageBox {
    position: absolute;
    background-color: whitesmoke;
    width: 100%;
    height: 420px;
    top: 100px;
    opacity: 1;
    
}

.praise {
  font-size: 22px;
  margin-top: 20px;
  text-align: center;
  color: rgb(44, 44, 44);
}

.review {
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: normal;
  color: grey;
  
}

.mistakesListBox {
  margin-left: 12px;
  margin-right: 25px;
  font-size: 14px;
  border: 3px solid whitesmoke;
  height: 300px;
}


.smallListenButton {
    font-family: "Segoe UI Symbol";
    font-size: 16px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    display: inline-block;
 
    border-radius: 100%;
    border: none;
    padding: 0;
    background-color: lightgrey;
 } 
 
 .smallListenButton:hover {
     background-color: silver;
     border: none;     
 }

 .smallListenIcon {
    width: 35%;
    color: red;
    margin-left: 5%;
    margin-bottom: 3%;
 }

 .starBox {
     position: absolute;
     top: 100px;
     width: 500px;
     height: 300px;
     text-align: center;
 }

 @keyframes overturn {
    0% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

 #shiny {
  margin: auto auto;
  width: 55%;
  animation: 0.5s ease-out 0s 1 overturn;
}

@keyframes evanescence {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
      }

      75% {
        opacity: 0;
      }

    100% {
        opacity: 1;
    }
  }

#kitty {
    position: absolute;
    bottom: 75px;
    right: 40px; 
    opacity: 1;
    
}

#kitty:hover {
    animation: 3s ease-out 1s 1 evanescence;
  }




/* MainScreen */



.dictionary {
    width: 100%;
    position: absolute;
    bottom: 1%;
}

#addOnTitle {
    margin-top: 45px;
    margin-left: 50px;
    font-size: 16px;
    color: darkgrey;   
    display: inline-flex;
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -o-user-select: none; /* Opera Presto (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}

#dictionaryLink {
    display: inline-flex;
    margin-left: 20px;
    font-size: 16px;
    color: grey; 
    border: 2px dotted darkgrey;
    padding: 10px;
    border-radius: 7px;
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -o-user-select: none; /* Opera Presto (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
    -webkit-transition: all 0.1s ease;;
    -moz-transition: all 0.1s ease;;
    -o-transition: all 0.1s ease;;
    transition: all 0.1s ease;
}

#dictionaryLink:hover {
    color: white; 
    background-color: darkgrey;
    box-shadow: 5px 5px 12px lightgrey;
    cursor: default;

}

.grid {
    display: grid;
    width: 80%;
    height: 400px;
    grid-template: repeat(3, 3fr 1fr) / 1fr 1fr 1fr;
    margin: auto;
    align-items: center;
    grid-template-areas: "a1 a2 a3"
                         "a1text a2text a3text"
                         "b1 b2 b3"
                         "b1text b2text b3text"
                         "c1 c2 c3"
                         "c1text c2text c3text" 
                         ;
  }

.emojiIcon {
    color: dimgrey;
    font-size: 28px;
}



.itemName {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    color: rgb(44, 44, 44);
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -o-user-select: none; /* Opera Presto (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}


  .a1 {
      grid-area: a1;
  }
  .a2 {
      grid-area: a2;
  }
  .a3 {
    grid-area: a3;
  }

  .b1 {
    grid-area: b1;
  }
  .b2 {
    grid-area: b2;
  }
  .b3 {
      grid-area: b3;
    }
  
  .c1 {
    grid-area: c1;
  }
  .c2 {
      grid-area: c2;
  }
  .c3 {
    grid-area: c3;
  }


  .a1text {
    grid-area: a1text;
}
.a2text {
    grid-area: a2text;
}
.a3text {
  grid-area: a3text;
}

.b1text {
  grid-area: b1text;
}
.b2text {
  grid-area: b2text;
}
.b3text {
    grid-area: b3text;
    align-self: start;
  }

.c1text {
  grid-area: c1text;
}
.c2text {
    grid-area: c2text;
}
.c3text {
  grid-area: c3text;
  align-self: start;
}


/* DictionaryScreen */

.toolBox {
    height: 50px;
    margin-left: 25px;
    margin-right: 25px;

}

#searchbar {
    height: 40px;
    width: 100%;
    border-radius: 20px;
    padding-left: 20px;
    border: none;
    background-color: gainsboro;
    color: dimgrey;
    font-size: 14px;
    
}
#searchbar::placeholder {
    color: grey;
}


#triangleIcon {
    width: 35%;
    position: absolute;
    top: 14px;
    left: 14px;
}


.topicDiscoverer {
    border: none;
    background: none;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 25px;
    top: 110px;
    border: 0;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    width: 40px;
    text-align: right;
    padding-right: 15px;
    font-size: 16px;
    color: dimgrey;
    z-index: 1;
}

#topicSelectorOpened {
    display: none;
    border-radius: 0 20px 0 0;
    background: none;
    width: 40px;
    text-align: right;
    padding-right: 15px;
    z-index: 2;
}


.topicOptions {
    border: none;
    background-color: white;
    color: dimgrey;
    height: 40px;
    width: 225px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: center;
    z-index: 3;

    -webkit-transition: all 0.5s ease;;
    -moz-transition: all 0.5s ease;;
    -o-transition: all 0.5s ease;;
    transition: all 0.5s ease;

    box-shadow: 3px 5px 5px silver;

}

.topicOptions:hover {
    color: tomato;
}

#returnAll {
    display: none;
    position: absolute;
    right: 25px;
    top: 110px;
    border-radius: 0 20px 0 0;
}

#onlyGreetings {
    display: none;
    position: absolute;
    right: 25px;
    top: 150px;
}

#onlyParenthesis {
    display: none;
    position: absolute;
    right: 25px;
    top: 190px;
}

#onlyConsents {
    display: none;
    position: absolute;
    right: 25px;
    top: 230px;
}

#onlyPolite {
    display: none;
    position: absolute;
    right: 25px;
    top: 270px;
}

#onlyTalk {
    display: none;
    position: absolute;
    right: 25px;
    top: 310px;
}

#onlyTravel {
    display: none;
    position: absolute;
    right: 25px;
    top: 350px;
}

#onlyIdioms {
    display: none;
    position: absolute;
    right: 25px;
    top: 390px;
    
}

#onlyProverbs {
    display: none;
    position: absolute;
    right: 25px;
    top: 430px;
    border-radius: 0 0 20px 20px;
    height: 50px;
    padding-bottom: 10px;

}



table {
    border-spacing: 0;
    background-color: whitesmoke;
        
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-top: 10px;
    width: 100%;
}


td {
    font-size: 12px;
    padding: 10px 20px;
}

th {
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    padding-left: 20px;

    text-align: left;
    background-color: 		#00CCCC;
    color: white;

}
/*#8cdd5e*/


table tr:nth-child(2n+1) {
    background-color: white;
    
 }
 
table  tr:nth-child(2n) {
    background-color: rgb(255, 248, 252);
    
 }

    table th:first-child {
        border-radius: 7px 0 0 0;
        
    }
   
    table th:last-child {
       border-radius: 0 7px 0 0;
       width: 20%;
   }
   
   table tr:last-child td:first-child {
       border-radius: 0 0 0 7px;
     }
     table tr:last-child td:last-child {
       border-radius: 0 0 7px 0;
     }
   
/*
  @-moz-document url-prefix() {

    table th:first-child {
        border-radius: 0 0 0 0;
        
    }
   
    table th:last-child {
       border-radius: 0 0 0 0;
   }
  }
 */


.buttonSort {
    font-family: "Segoe UI Symbol";
    border: 0;
    margin: 0 5px;
    padding: 2px 2px;
    color: white;
    background: none;
    font-size: 100%;
    font-size: 12px;
}

.iconSort {
  width: 9px;
}

#buttonSortEnUp {
    display: none;
}
  
#buttonSortRuUp {
    display: none;
}

#buttonSortTopicUp {
    display: none;
}


#buttonSortEnDown {
    display: inline-block;
}

#buttonSortRuDown {
    display: inline-block;
}

#buttonSortTopicDown {
    display: inline-block;
}


#notFoundBox {
    background: whitesmoke;
}

#notFound {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    color: darkgrey;
    margin-top: 15px;
    padding-top: 0px;
}

#frogFace {
    width: 50%;
    margin-left: 125px;
    margin-top: 50px;
    border-bottom: 50px;

    -webkit-transition: all 1.5s ease;;
    -moz-transition: all 1.5s ease;;
    -o-transition: all 1.5s ease;;
    transition: all 1.5s ease;
}

#frogFace:hover {
    width: 60%;
    margin-left: 100px;
    margin-top: 25px;
    position: relative;

}

/*
#frogFace:hover {
    -webkit-animation: frogJump 0.7s ease;
    animation: frogJump 0.7s ease;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
  }

  @keyframes frogJump {
    20% {
       -webkit-transform: translateY(-20px);
       transform: translateY(-20px);
    }
    40% {
       -webkit-transform: translateY(5px);
       transform: translateY(5px);
    }
    50% {
       -webkit-transform: translateY(0px);
       transform: translateY(0px);
    }
    70% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    90% {
      -webkit-transform: translateY(7px);
      transform: translateY(7px);
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  
 */

























































 p {
    font-family: "Verdana", "Geneva", "Tahoma", "Arial", sans-serif;
    margin: 0;
    padding: 0;
  }

  
#container {
    margin: auto;
    display: grid;
    height: 100vh;
    width: 177vh;
    grid-template: repeat(18, minmax(12.5px, 5.555vh)) / repeat(32, minmax(12.5px, 5.555vh));

    background-color: cornsilk;
    }

  #titleBox {
    grid-column: 1 / 33;
    grid-row: 1 / 3;
    
    background-color: white;
    box-shadow: 0px 1px 20px hsla(0, 0%, 66%, 0.8);
    
    z-index: 2;
  }

  #subtitleBox {
    grid-column: 1 / 23;
    grid-row: 3 / 5;
    
    background-color: whitesmoke;
  }

  #extraTitleBox {
    grid-column: 23 / 33;
    grid-row: 3 / 5;

    background-color: whitesmoke;
  }

  #itemsBox {
    grid-column: 1 / 24;
    grid-row: 5 / 19;

    background-color: whitesmoke;
  }

  #glossaryBox {
    grid-column: 24 / 33;
    grid-row: 5 / 19;

    background-color: whitesmoke;
    border-left: 0.75vh dotted gainsboro ; 
  }



  #innerTitleBox {
    grid-column: 13 / 21;
    grid-row: 1 / 3;

    display: flex;
    justify-content: center;

    z-index: 3;
  }

  #innerSubtitleBox {
    grid-column: 3 / 18;
    grid-row: 3 / 5;

    display: flex;
    justify-content: left;

    z-index: 3;

    padding: 0;
  }

  #innerExtraTitleBox {
    grid-column: 25 / 33;
    grid-row: 3 / 5;

    display: flex;
    justify-content: left;

    z-index: 3;

    padding: 0;
  }

  .itemBox {
    z-index: 3;
    display: flex;
    background-color: whitesmoke;
  }

  #itemBox01 {
    grid-column: 3 / 7;
    grid-row: 5 / 9;
  }

  #itemBox02 {
    grid-column: 8 / 12;
    grid-row: 5 / 9;
  }

  #itemBox03 {
    grid-column: 13 / 17;
    grid-row: 5 / 9;
  }

  #itemBox04 {
    grid-column: 18 / 22;
    grid-row: 5 / 9;
  }

  #itemBox05 {
    grid-column: 3 / 7;
    grid-row: 11 / 15;
  }

  #itemBox06 {
    grid-column: 8 / 12;
    grid-row: 11 / 15;
  }

  #itemBox07 {
    z-index: 4;

    grid-column: 13 / 17;
    grid-row: 11 / 15;
  }

  #itemBox08 {
    grid-column: 13 / 17;
    grid-row: 11 / 15;
  }

  #itemBox09 {
    grid-column: 18 / 22;
    grid-row: 11 / 15;
  }

  #itemBox10 {
    grid-column: 26 / 30;
    grid-row: 5 / 9;
  }

  .subscriptBox {
    display: flex;
    justify-content: center;

    z-index: 2;

    background-color: whitesmoke;
  }

  #subscriptBox01 {
    grid-column: 3 / 7;
    grid-row: 9 / 10;
  }

  #subscriptBox02 {
    grid-column: 8 / 12;
    grid-row: 9 / 10;
  }

  #subscriptBox03 {
    grid-column: 13 / 17;
    grid-row: 9 / 10;
  }

  #subscriptBox04 {
    grid-column: 18 / 22;
    grid-row: 9 / 10;
  }

  #subscriptBox05 {
    grid-column: 3 / 7;
    grid-row: 15 / 16;
  }

  #subscriptBox06 {
    grid-column: 8 / 12;
    grid-row: 15 / 16;
  }

  #subscriptBox07 {
    grid-column: 13 / 17;
    grid-row: 15 / 17;

    z-index: 4;
  }

  #subscriptBox08 {
    grid-column: 13 / 17;
    grid-row: 15 / 16;
  }

  #subscriptBox09 {
    grid-column: 18 / 22;
    grid-row: 15 / 16;
  }

  #subscriptBox10 {
    grid-column: 26 / 30;
    grid-row: 9 / 10;
  }

  
  #levelBox {
    grid-column: 16 / 17;
    grid-row: 14 / 15;
    z-index: 5;

    display: flex;
  }

  .idiomsLevel {
    border: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(165, 165, 165);
    z-index: 5;
    border-radius: 100%;
    margin-top: -25%;
    margin-left: -25%;
    box-shadow: 5px 5px 12px lightgrey;
    }

    #levelDown {
      display: none;
    }

    #levelUp {
      display: flex;
    }

    .iconLevel {
      width: 3vh;
      margin: auto;
    }

    #iconLevelDown {
      padding-top: 10%;
    }
  


  #logo {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 5vh;
    color: rgb(126, 126, 126);

    align-self: center;
  }

  #subtitle {
    font-size: 3.333vh;
    align-self: center;
    color: darkgrey;
  }

  #extraTitle {
    font-size: 3.333vh;
    align-self: center;
    color: darkgrey;
    margin-left: 2vh;
  }

  .subscript {
    font-size: 2vh;
    text-align: center;
    font-weight: bold;
    color: rgb(44, 44, 44);

    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -o-user-select: none; /* Opera Presto (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
  }








  @media all and (max-width: 550px) {

    #container {
      height: 177vw;
      width: 100vw;
      grid-template: repeat(32, minmax(12.5px, 5.53125vw)) / repeat(18, minmax(12.5px, 5.53125vw));
      }

      #titleBox {
        grid-column: 1 / 19;
        grid-row: 1 / 4;
      }

      #subtitleBox {
        grid-column: 1 / 19;
        grid-row: 4 / 7;
      }

      #extraTitleBox {
        grid-column: 1 / 19;
        grid-row: 24 / 27;
      }
    
      #itemsBox {
        grid-column: 1 / 19;
        grid-row: 7 / 24;
      }

      #glossaryBox {
        grid-column: 1 / 19;
        grid-row: 27 / 33;
      } 



      #innerTitleBox {
        grid-column: 6 / 14;
        grid-row: 2 / 3;
      }

      #innerSubtitleBox {
        grid-column: 3 / 16;
        grid-row: 4 / 7;
      }

      #innerExtraTitleBox {
        grid-column: 3 / 16;
        grid-row: 24 / 27;
      }
      
      #itemBox01 {
        grid-column: 3 / 7;
        grid-row: 7 / 11;
      }
    
      #itemBox02 {
        grid-column: 8 / 12;
        grid-row: 7 / 11;
      }
    
      #itemBox03 {
        grid-column: 13 / 17;
        grid-row: 7 / 11;
      }
    
      #itemBox04 {
        grid-column: 3 / 7;
        grid-row: 13 / 17;
      }
    
      #itemBox05 {
        grid-column: 8 / 12;
        grid-row: 13 / 17;
      }
    
      #itemBox06 {
        grid-column: 13 / 17;
        grid-row: 13 / 17;
      }
    
      #itemBox07 {
        grid-column: 3 / 7;
        grid-row: 19 / 23;
      }
    
      #itemBox08 {
        grid-column: 8 / 12;
        grid-row: 19 / 23;
      }
    
      #itemBox09 {
        grid-column: 13 / 17;
        grid-row: 19 / 23;
      }

      #itemBox10 {
        grid-column: 8 / 12;
        grid-row: 27 / 31;
      }
    
      #subscriptBox01 {
        grid-column: 3 / 7;
        grid-row: 11 / 12;
      }
    
      #subscriptBox02 {
        grid-column: 8 / 12;
        grid-row: 11 / 12;
      }
    
      #subscriptBox03 {
        grid-column: 13 / 17;
        grid-row: 11 / 12;
      }
    
      #subscriptBox04 {
        grid-column: 3 / 7;
        grid-row: 17 / 18;
      }
    
      #subscriptBox05 {
        grid-column: 8 / 12;
        grid-row: 17 / 18;
      }
    
      #subscriptBox06 {
        grid-column: 13 / 17;
        grid-row: 17 / 18;
      }
    
      #subscriptBox07 {
        grid-column: 3 / 7;
        grid-row: 23 / 24;  
      }
    
      #subscriptBox08 {
        grid-column: 8 / 12;
        grid-row: 23 / 24;    
      }
    
      #subscriptBox09 {
        grid-column: 13 / 17;
        grid-row: 23 / 24;
      }

      #subscriptBox10 {
        grid-column: 8 / 12;
        grid-row: 31 / 32;
      }


      
      #logo {
        font-size: 7vw;
      }

      #subtitle {
        font-size: 4.65vw;
      }

      #extraTitle {
        font-size: 4.65vw;
        margin-left: 0;
        margin-top: 2vw;
      }

      .subscript {
        font-size: 2.8vw;
      }

      #levelBox {
        display: none;
      }
      
      #glossaryBox {
        border-left: none;
      }
  }


  @media all and (max-height: 400px)  {

    #logo {
      font-size: 16px;
    }

    #subtitle {
      font-size: 11px; 
    }

    #extraTitle {
      font-size: 11px;
      margin-left: 0;
    }

    .subscript {
      font-size: 8px;
    }
  }



  .item {
    background-color: dodgerblue;
    border: 0;
    margin: auto;
    color: white;
    height: 80%;
    width: 80%;
    border-radius: 100%;
    box-shadow: 5px 5px 12px lightgrey;
    -webkit-transition: all 0.5s ease;;
    -moz-transition: all 0.5s ease;;
    -o-transition: all 0.5s ease;;
    transition: all 0.5s ease;
}

.item:hover {
    background-color: rgb(10, 124, 225);
}


#idiom1Item, #idiom2Item {
    background-color: deeppink;
}

#idiom1Item:hover, #idiom2Item:hover {
    background-color: rgb(238, 0, 127);
}

#proverbItem {
    background-color: blueviolet;
}

#proverbItem:hover {
    background-color: rgb(118, 23, 206);
}

#glossaryItem {
    background-color: rgb(255, 215, 0);
}

#glossaryItem:hover {
  background-color: rgb(243, 203, 0);
}

.icon {
    opacity: 1;
  }
  
  #icon01 {
    width: 85%;
    margin-top: 15%;
    margin-left: 5%;
  }
  
  #icon02 {
      width: 87%; 
      margin-right: 5%;
      margin-top: 5%;
  }
  
  #icon03 {
      margin-top: 7%;
  }
  
  #icon04 {
      width: 97%;
      margin-top: 13%;
      margin-left: 2.9%;
  }
  
  /*
  #icon05 {
      width: 81%; 
      margin-top: 12%;
      margin-left: 5%;
  }
  
  #icon04 {
      width: 71%;
      margin-top: 13%;
      margin-left: 3%;
  }
  */ 

  #icon05 {
      width: 90%; 
      margin-top: 5%;
  }
  
  #icon06 {
      width: 90%;
      margin-top: 4%;
  }
  
  #icon07 {
      margin-top: 11.2%;
      width: 95%;
  }
  
  #icon08 {
      margin-top: 9%;
      margin-left: -2.5%;
      width: 95%;
  }
  
  #icon09 {
      margin-top: 10%;
  }
  
  #icon10 {
    width: 90%;
    margin-top: 5%;
  }

 